extends layout

block content
  div#hand.hand.hand-animate
  div#loading.loading
  div#result.result
    .pic
    .con 
        p 状态
        p.msg
  link(rel='stylesheet', href='/public/stylesheets/hand.css')
  script(src='/public/javascripts/hand.js')