doctype html
html
  head
    meta(charset="UTF-8")
    title= title
    meta(name="viewport",content="initial-scale=1.0,maximum-scale=1,user-scalable=no")
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/jquery-qrcode/jquery.qrcode.min.js')
  body
    div.mobile
      div.content
        block content
    div.qrcode
    script
      | $('.qrcode').qrcode(window.location.href);
    div.admin
      button.nav.goto(url='/index') index
      button.nav.goto(url='/switch') switch
      button.nav.goto(url='/info') info
      button.nav.goto(url='/toggle') toggle
      button.nav.goto(url='/hand') hand
      button.nav.goto(url='/future') future
      button.nav.goto(url='/game') game
      button.nav.goto(url='/3q') 3Q
    div.footer
    script(src='/public/javascripts/sync.js')
